body {
  background: #111;
  color: white;
}

.container {
  padding: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #222;
  padding: 10px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.03);
  background: #333;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}
